basePath: /api/v1
definitions:
  model.APIResponse:
    properties:
      data: {}
      error: {}
      message:
        type: string
      status:
        type: string
    type: object
  model.AssignRoleRequest:
    properties:
      roleId:
        type: string
    required:
    - roleId
    type: object
  model.CreateUserRequest:
    properties:
      academicYear:
        type: string
      advisorId:
        type: string
      department:
        type: string
      email:
        type: string
      fullName:
        type: string
      lecturerId:
        description: Dosen
        type: string
      password:
        minLength: 6
        type: string
      programStudy:
        type: string
      roleId:
        type: string
      studentId:
        description: Mahasiswa
        type: string
      username:
        type: string
    required:
    - email
    - fullName
    - password
    - roleId
    - username
    type: object
  model.Lecturer:
    properties:
      createdAt:
        type: string
      department:
        type: string
      id:
        type: string
      lecturerId:
        type: string
      userId:
        type: string
    type: object
  model.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    required:
    - password
    - username
    type: object
  model.LoginResponse:
    properties:
      refreshToken:
        type: string
      token:
        type: string
      user:
        $ref: '#/definitions/model.UserResponse'
    type: object
  model.Student:
    properties:
      academicYear:
        type: string
      advisorId:
        type: string
      createdAt:
        type: string
      id:
        type: string
      programStudy:
        type: string
      studentId:
        type: string
      userId:
        type: string
    type: object
  model.UpdateAdvisorRequest:
    properties:
      advisorId:
        type: string
    required:
    - advisorId
    type: object
  model.UpdateUserRequest:
    properties:
      academic_year:
        type: string
      advisor_id:
        type: string
      department:
        type: string
      email:
        type: string
      full_name:
        type: string
      lecturer_id:
        description: Dosen
        type: string
      password:
        type: string
      program_study:
        type: string
      role_id:
        type: string
      student_id:
        description: Mahasiswa
        type: string
      username:
        type: string
    type: object
  model.User:
    properties:
      academicYear:
        type: string
      advisorId:
        type: string
      createdAt:
        type: string
      department:
        type: string
      email:
        type: string
      fullName:
        type: string
      id:
        type: string
      isActive:
        type: boolean
      lecturerId:
        type: string
      programStudy:
        type: string
      role:
        type: string
      roleId:
        type: string
      studentId:
        type: string
      updatedAt:
        type: string
      username:
        type: string
    type: object
  model.UserResponse:
    properties:
      fullName:
        type: string
      id:
        type: string
      permissions:
        items:
          type: string
        type: array
      role:
        type: string
      username:
        type: string
    type: object
info:
  contact: {}
  description: Sistem Pelaporan Prestasi Mahasiswa
  title: Prestasi Backend API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login menggunakan username/email dan password
      parameters:
      - description: Login request
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.LoginResponse'
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
      summary: Login user
      tags:
      - Auth
  /auth/logout:
    post:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.APIResponse'
      summary: Logout user
      tags:
      - Auth
  /auth/profile:
    get:
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.UserResponse'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get user profile
      tags:
      - Auth
  /auth/refresh:
    post:
      description: Refresh token menggunakan refreshToken di cookie
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.LoginResponse'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
      summary: Refresh access token
      tags:
      - Auth
  /lecturers:
    get:
      description: Mengambil seluruh data dosen
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/model.Lecturer'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get all lecturers
      tags:
      - Lecturers
  /lecturers/{id}/advisees:
    get:
      description: Mengambil daftar mahasiswa bimbingan dosen
      parameters:
      - description: Lecturer ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/model.Student'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get lecturer advisees
      tags:
      - Lecturers
  /students:
    get:
      description: Mengambil seluruh data mahasiswa
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/model.Student'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get all students
      tags:
      - Students
  /students/{id}:
    get:
      description: Mengambil detail mahasiswa berdasarkan ID
      parameters:
      - description: Student ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.Student'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get student detail
      tags:
      - Students
  /students/{id}/advisor:
    put:
      consumes:
      - application/json
      description: Mengubah dosen wali mahasiswa
      parameters:
      - description: Student ID
        in: path
        name: id
        required: true
        type: string
      - description: Update advisor request
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.UpdateAdvisorRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Update student advisor
      tags:
      - Students
  /users:
    get:
      description: Mengambil semua data user
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/model.User'
                  type: array
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get all users
      tags:
      - Users
    post:
      consumes:
      - application/json
      description: Membuat user baru (Admin only)
      parameters:
      - description: Create user request
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/model.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Create new user
      tags:
      - Users
  /users/{id}:
    delete:
      description: Menghapus user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - Users
    get:
      description: Mengambil detail user berdasarkan ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/model.APIResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.User'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Get user by ID
      tags:
      - Users
    put:
      consumes:
      - application/json
      description: Update sebagian data user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: Update user request
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Update user
      tags:
      - Users
  /users/{id}/role:
    put:
      consumes:
      - application/json
      description: Mengubah role user
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: string
      - description: Assign role request
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/model.AssignRoleRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.APIResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/model.APIResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/model.APIResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/model.APIResponse'
      security:
      - BearerAuth: []
      summary: Assign role to user
      tags:
      - Users
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
